#container {

  display: inline-block;
  width: 17rem;
  height: 18rem;
  margin: 2rem;

}

.links {
  position: relative;
  display: inline;
  top: 20%;
}

.spf-link {
  padding: 1.4rem;
}

.spf-link:hover {
  text-decoration: underline;
}

.pfp {
  position: relative;
  top: 5%;
  left: 11%;
  width: 10rem;
  border-radius: 50%;
}

.skeleton {
  animation: skeleton 1s linear infinite alternate;
}

@keyframes skeleton {
  0% {
    background-color: rgb(145, 144, 144);
  }

  100% {
    background-color: rgba(116, 116, 116, 0.4);
  }
}