@keyframes slideLeft {
  from {
    transform: translateX(-400px);
  }

  to {
    transform: translateX(0px);
  }
}

.animate {
  transform-origin: top;
  animation: slideLeft 0.5s ease-in-out;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 700ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 700ms;
}
