@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
$colors: (
    "indigo-600": #3D0A91,
    "indigo-500": #6610F2,
    "blue-600": #0A58CA,
    "blue-500": #0D6EFD,
    "blue": #3D0A91,
);

body {
    background: rgb(31, 30, 30);
}

.search {

    background: #01111b;
    border: 1px solid #7CC844;
    color: #7CC844;
    font-family: 'Space Mono',
        monospace;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    width: 48%;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    outline: none;

    ::placeholder {
        color: #A6AFB8;
    }
}
.card-header {
    color: #7CC844;

    h4 {
        font-size: 20px;
    }
}

.card {
    border-radius: .5rem;
    background: #01111b;
    width: 40%;
    box-shadow: 0 3px 10px #7bc8443b;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}


.badge {
    background: map-get($colors, "blue");
    font-size: .6rem;
    position: relative;
    top: -15px;
    left: 8px;
}

.error {
    color: #A6AFB8;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
}

.card-title {
    color: #acb2b8;
    font-weight: 600;
    font-size: 16px;
}

@media(max-width: 768px) {
    .card {
        width: auto;
    }
}